* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #343a40;
  color: #fff;
}

.container {
  background-color: #495057;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-left: 330px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.form-control {
  background-color: #606c71;
  color: #fff;
  border-color: #495057;
}

.form-control:focus {
  background-color: #718187;
  color: #fff;
  border-color: #718187;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-label {
  color: #ced4da;
}
